<div class="collapsible collapsible--expanded">
  <header class="collapsible__header">
    <h2 class="collapsible__heading">T0PIC</h2>
    <svg class="icon icon--white collapsible__chevron">
      <use xlink:href="images/sprite.svg#chevron"></use>
    </svg>
  </header>
  <div class="collapsible__content">
    <ol class="list lis">
      <li class="list__item">Subject 1</li>
      <li class="list__item">Subject 2</li>
      <li class="list__item">Subject 3</li>
      <li class="list__item">Subject 4</li>
    </ol>
  </div>
</div>
<script src="js/main.js"></script>
